[user]
	name = kitsully
	email = kris@kristophersullivan.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAuzvbNzyaj0ZfHeIi5fqq20frVrxDFOEFjhe09Eh7Lh

[gpg]
	format = ssh

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[core]
	editor = code --wait
	autocrlf = input
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = current

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[diff]
	tool = vscode
	colorMoved = default

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[rerere]
	enabled = true

[alias]
	co = checkout
	br = branch
	st = status
	lg = log --oneline --graph --decorate --all

[include]
	path = ~/.gitconfig.local
